
#in-game {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > div {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	& > #right {
		align-items: center;
		justify-content: space-evenly;
		width: 384px;
		& > #game-status {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			font-size: 32px;
			height: 256px;
			& > #current-status {
				text-align: center;
				color: red;
			}
			& > #button-next {
				cursor: pointer;
				padding: 32px;
				border-radius: 32px;
				background: #303080;
			}
		}
		& > #card-info {
			width: 320px;
			height: 512px;
			border-radius: 64px;
			background: url('../images/full-card-front.png');
			background-size: cover;
			transition: all 0.2s ease-in-out;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 32px;
			padding-bottom: 48px;
			color: white;
			font-size: 24px;
			&.hidden {
				transform: translate(384px, 0);
			}
			& > #cost {
				align-self: flex-end;
			}
			& > img {
				width: 260px;
				height: 260px;
			}
			& > #stats {
				font-size: 16px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				& > * {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-start;
				}
			}
			& > #description {
				text-align: center;
				font-size: 16px;
			}
		}
	}
}
