@import "_main-menu";
@import "_search";
@import "_in-game";

body {
	margin: 0;
	padding: 0;
	background: #303030;
	overflow: hidden;
	font-family: 'Courier New', Courier, monospace;
}

.full-page {
	width: 100vw;
	height: 100vh;
}

@keyframes rotation {
	from { transform: rotate(0deg) };
	to { transform: rotate(360deg) };
}

.loader {
	width: 48px;
	height: 64px;
	border-width: 0px 8px;
	border-style: solid;
	border-left-color: red;
	border-right-color: red;
	border-radius: 32px;
	animation: rotation 2s linear infinite;
}

.centered-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
